body {
  background-color: rgb(31, 31, 31);
  color: white;
  font-family: system-ui, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  /* width: 100vw; */
  height: 100vh;
}

/* upper side  */

.title {
  display: flex;
  justify-content: space-between;
}

.title p {
  font-size: 25px;
  padding-left: 12px;
}
.icon-title {
  padding-top: 25px;
}


.hisBtn {
  background-color: transparent;
  border-style: none;
  color: white;
}

/* input numbers  */

.inputNum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 70px;
  padding-right: 12px;
  height: 100px;
  width: auto;
  padding-bottom: 0px;
}

.inputNum2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.inputNum > p {
  color: #858585;
  align-items: flex-end;
  font-size: 18px;
  padding-right: 12px;
}

/* body -keyboard  */

.first-row,
.second-row,
.third-row,
.final-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.first-row > button {
  flex: 50%;
  background-color: #353535;
  color: white;
  height: 100px;
  width: 130px;
  margin: 1px;
  font-size: 25px;
  border-style: none;
  border-radius: 6px;
}

.second-row > button {
  flex: 50%;
  background-color: #353535;
  color: white;
  margin: 1px;
  height: 100px;
  width: 130px;
  font-size: 19px;
  border-style: none;
  border-radius: 6px;
}

.third-row > button {
  flex: 50%;
  background-color: #464646;
  color: white;
  margin: 1px;
  height: 100px;
  width: 130px;
  font-size: 19px;
  border-style: none;
  border-radius: 6px;
}

.third-row > .last-box {
  background-color: #353535;
  color: white;
  margin: 1px;
  height: 100px;
  width: 130px;
  font-size: 19px;
  border-style: none;
  border-radius: 6px;
}

.final-row > button {
  flex: 50%;
  background-color: #464646;
  color: white;
  margin: 1px;
  height: 100px;
  width: 130px;
  font-size: 19px;
  border-style: none;
  border-radius: 6px;
}

.final-row > .last-box {
  background-color: #ff808c;
  color: black;
  margin: 1px;
  height: 100px;
  width: 130px;
  font-size: 30px;
  border-style: none;
  border-radius: 6px;
}

.inputFeild {
  background-color: transparent;
  color: #757575;
  font-size: 19px;
  border-style: none;
  text-align: end;
  pointer-events: none;
}
/* 
.box-numbers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
} */




.overlay {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.85);
	opacity: 0;
	transition: all 450ms cubic-bezier(0.32,1,0.23,1) 0ms;	
	


}




.social {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgb(31, 31, 31);
	padding: 8px 24px 16px;
	box-sizing: border-box;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.22), 0px 14px 56px rgba(0, 0, 0, 0.25);
	transform: translate(0,100%);
	transition: all 450ms cubic-bezier(0.32,1,0.23,1) 100ms;
	
	}


	.btn-close {
		color: #666;
		transform: scale(0,0);
		transition: all 450ms ease-in-out 0;
	}


	.overlay:target {


		display: block;
		  position: fixed;
		  top: 0;
		  opacity: 1;
		  
		 .social{
			transform: translate(0, 0);
			z-index: 9;
		}
	  }


	  .btn-close{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		outline: 0 none;
		transform: scale(1,1);
	}

.sr-only {
    /* a generic way to visually hide content while remaining accessible to screen readers (h5bp.com) */
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}
